<!-- Hero Section -->

<div class="container mt-5">
  <div class="row justify-content-center">
    <!-- first column -->
    <div class="col-md-5" >
      <div class="search-box p-4 shadow rounded">
        <h2 class="text-center mb-4">
          <i class="fa-solid fa-ticket slant me-2"></i>Book Your Bus Ticket
        </h2>

        <form class="">
          <div class="row g-3">
            <div class="col-12">
              <label class="form-label">
                <i class="fas fa-map-marker-alt me-1"></i>From location:
              </label>
              <select name="fromLocation" [(ngModel)]="searchObject.fromBusLocationId" class="form-select">
                <option value="">Select location</option>
                @for (item of busLocationList; track $index) {
                  <option [value]="item.id">{{item.name}}</option>
                }
              </select>
            </div>

            <div class="col-12">
              <label class="form-label">
                <i class="fas fa-map-marker-alt me-1"></i>To location:
              </label>
              <select name="toLocation" [(ngModel)]="searchObject.toBusLocationId" class="form-select">
                <option value="">Select Location</option>
                @for (item of busLocationList; track $index) {
                  <option [value]="item.id">{{item.name}}</option>
                }
              </select>
            </div>

            <div class="col-12" >
              <label class="form-label">
                <i class="far fa-calendar-check me-1"></i>Date of journey:
              </label>
              <input type="date" name="travelDate" [(ngModel)]="searchObject.scheduleDate" class="form-control" [value]="today">
            </div>

            <div class="col-12 text-center">
              <button type="button" class="btn btn-primary btn-lg w-100" (click)="searchBus()">
                <i class="fa fa-search-plus me-2"></i>Search buses
              </button>
            </div>

          </div>
        </form>

      </div><!--/search-box p-4 shadow rounded-->
    </div><!--/col-md-5-->

    <!-- 2nd column -->
    <div class="col-md-7" >
      <div class="available-routes p-3 shadow rounded scrollable-div">
        <h6 class="mb-3 text-center" >
          <i class="fa fa-bus me-2" >
          </i>
          Available routes
        </h6>
        <!-- <small >
          Use Swagger to Create new Bus Routes as Explained in video
        </small> -->
        @if (busLocationList.length > 0) {
          @for (busScheduleSummary of busScheduleSummaryList; track $index) {
            <div class="card mb-3">
              <div class="card-body p-2">
                <h6 class="mb-1" >
                  <i class="fa fa-map-marker me-1 text-primary"></i>
                    {{busScheduleSummary.from_bus_location}}
                  <i class="fa fa-arrow-right mx-2"></i>
                    {{busScheduleSummary.to_bus_location}}
                </h6>
                <small class="text-muted d-block mb-1">
                  <i class="fa fa-calendar me-1"></i>
                  {{busScheduleSummary.schedule_date | date:'dd MMM yyyy'}} ,
                  {{busScheduleSummary.departure_time ? ('1970-01-01T' + busScheduleSummary.departure_time | date:'hh:mm a') : 'No time' }}
                </small>
                <span class="badge bg-info text-dark">
                  {{busScheduleSummary.bus_count}} bus available
                </span>
              </div>
            </div>
          }

        } @else {
          <p class="text-muted">No Bus Schedules available..</p>
        }

      </div>
    </div><!--/col-md-7-->
  </div><!--/row justify-content-center-->
</div><!--/container mt-5-->

